<sidebar>
    <malls class="list-group-item" value="vm.mallsSelected" change="vm.changeMall()"></malls>
    <li class="list-group-item">
        <label for="">Цвет</label>

        <div class="b-wear-color b-wear-color_size_big">
            <div class="b-wear-color__item i-bem ">
                <div class="b-wear-color__item__inner" title="бежевый" style="background:#ffeedd"></div>
                <i class="b-wear-color__item__close"></i></div>
            <div class="b-wear-color__item i-bem ">
                <div class="b-wear-color__item__inner" title="голубой" style="background:#85D6FF"></div>
                <i class="b-wear-color__item__close"></i></div>
            <div class="b-wear-color__item i-bem ">
                <div class="b-wear-color__item__inner" title="желтый" style="background:#FFFF00"></div>
                <i class="b-wear-color__item__close"></i></div>
            <div class="b-wear-color__item i-bem ">
                <div class="b-wear-color__item__inner" title="зеленый" style="background:#009900"></div>
                <i class="b-wear-color__item__close"></i></div>
            <div class="b-wear-color__item i-bem ">
                <div class="b-wear-color__item__inner" title="коричневый" style="background:#663300"></div>
                <i class="b-wear-color__item__close"></i></div>
            <div class="b-wear-color__item i-bem ">
                <div class="b-wear-color__item__inner" title="красный" style="background:#FF0000"></div>
                <i class="b-wear-color__item__close"></i></div>
            <div class="b-wear-color__item i-bem ">
                <div class="b-wear-color__item__inner" title="оранжевый" style="background:#FF6600"></div>
                <i class="b-wear-color__item__close"></i></div>
            <div class="b-wear-color__item i-bem ">
                <div class="b-wear-color__item__inner" title="розовый" style="background:#FF00BB"></div>
                <i class="b-wear-color__item__close"></i></div>
            <div class="b-wear-color__item i-bem ">
                <div class="b-wear-color__item__inner" title="белый" style="background:#FFFFFF"></div>
                <i class="b-wear-color__item__close"></i></div>
            <div class="b-wear-color__item i-bem ">
                <div class="b-wear-color__item__inner" title="серый" style="background:#666666"></div>
                <i class="b-wear-color__item__close"></i></div>
            <div class="b-wear-color__item i-bem ">
                <div class="b-wear-color__item__inner" title="синий" style="background:#3333FF"></div>
                <i class="b-wear-color__item__close"></i></div>
            <div class="b-wear-color__item i-bem ">
                <div class="b-wear-color__item__inner" title="фиолетовый" style="background:#9900CC"></div>
                <i class="b-wear-color__item__close"></i></div>
            <div class="b-wear-color__item i-bem ">
                <div class="b-wear-color__item__inner" title="черный" style="background:#000000"></div>
                <i class="b-wear-color__item__close"></i></div>
            <div class="b-wear-color__item i-bem b-wear-color__item_color_multi">
                <div class="b-wear-color__item__inner" title="разноцветный" style=""></div>
                <i class="b-wear-color__item__close"></i></div>
        </div>
    </li>
    <li class="list-group-item">
        <label for="">Размер</label>
        <div class="checkbox b-sizes-picker">
            <label for=""><input type="checkbox" value="44"/>38</label>
            <label for=""><input type="checkbox" value="44"/>40</label>
            <label for=""><input type="checkbox" value="44"/>42</label>
            <label for=""><input type="checkbox" value="44"/>44</label>
            <label for=""><input type="checkbox" value="44"/>46</label>
            <label for=""><input type="checkbox" value="44"/>48</label>
            <label for=""><input type="checkbox" value="44"/>50</label>
            <label for=""><input type="checkbox" value="44"/>52</label>
            <label for=""><input type="checkbox" value="44"/>54</label>
            <label for=""><input type="checkbox" value="44"/>56</label>
            <label for=""><input type="checkbox" value="44"/>58</label>
            <label for=""><input type="checkbox" value="44"/>60</label>
        </div>
    </li>
</sidebar>
<ul class="thumbnails" infinite-scroll="vm.loadMore()" infinite-scroll-disabled="vm.loading">
    <li class="span3" ng-repeat="item in items" ng-init="item.$index = $index">
        <div class="product-box" ng-class="{active:item.selected}">
            <p><a
                    href ng-click="vm.select(item)"><img ng-src="{{item.image}}" alt="{{item.title}}" class="thumb" /></a></p>
            <a href="#/detail/{{item.id}}" class="title">{{item.title}}</a><br/>
            <a href="#/detail/{{item.type}}" class="category">Coats</a>
            <p class="price">{{item.price | currency}}</p>
        </div>
    </li>
    <br class="clear"/>
</ul>