<ul class="thumbnails" infinite-scroll="vm.loadMore()" infinite-scroll-disabled="vm.loading">
    <li class="span3" ng-repeat="item in items">
        <div class="product-box">
            <p><a
                    href="#/detail/{{item.id}}"><img ng-src="{{item.image}}" alt="{{item.title}}" /></a></p>
            <a href="#/detail/{{item.id}}" class="title">{{item.title}}</a><br/>
            <a href="products.html" class="category">Coats</a>
            <p class="price">{{item.price | currency}}</p>
        </div>
    </li>
    <br class="clear"/>
</ul>