<div class="list-group left-menu">
    <li class="list-group-item">Цвета</li>
    <li class="list-group-item">Торговые центры</li>
</div>
<ul class="thumbnails">
    <li class="span3">
        <div class="product-box">
            <span class="sale_tag"></span>
            <p><a href="product_detail.html"><img src="themes/images/cloth/bootstrap-women-ware2.jpg" alt="" /></a></p>
            <a href="product_detail.html" class="title">Ut wisi enim ad</a><br/>
            <a href="products.html" class="category">Commodo consequat</a>
            <p class="price">$25.50</p>
        </div>
    </li>
    <li class="span3">
        <div class="product-box">
            <p><a href="product_detail.html"><img src="themes/images/cloth/bootstrap-women-ware1.jpg" alt="" /></a></p>
            <a href="product_detail.html" class="title">Quis nostrud exerci tation</a><br/>
            <a href="products.html" class="category">Quis nostrud</a>
            <p class="price">$17.55</p>
        </div>
    </li>
    <li class="span3">
        <div class="product-box">
            <p><a href="product_detail.html"><img src="themes/images/cloth/bootstrap-women-ware6.jpg" alt="" /></a></p>
            <a href="product_detail.html" class="title">Know exactly turned</a><br/>
            <a href="products.html" class="category">Quis nostrud</a>
            <p class="price">$25.30</p>
        </div>
    </li>
    <li class="span3">
        <div class="product-box">
            <p><a href="product_detail.html"><img src="themes/images/cloth/bootstrap-women-ware5.jpg" alt="" /></a></p>
            <a href="product_detail.html" class="title">You think fast</a><br/>
            <a href="products.html" class="category">World once</a>
            <p class="price">$25.60</p>
        </div>
    </li>
</ul>