<div class="b-detailed b-detailed_size-small">
    <div class="b-detailed__container">
        <div class="b-detailed__product-box">
            <img alt="куртка-бомбер с перфорацией" class="b-detailed__main-image" src="/images/zara-6a849663-d61c-11e4-acf4-61dd087624af.jpg">
            <span class="b-detailed__product-title">куртка-бомбер с перфорацией</span><br>
            <a href="#/detail/coats" class="b-detailed__product-category">Coats</a>
            <p class="b-detailed__product-price">$4,999.00</p>
        </div>
        <div class="b-detailed__preview-container">
            <a href="" class="b-detailed__preview thumbnail"><img src="/images/previews/small/4341476800_2_1_1.jpg" alt="" class=""/></a>
            <a href="" class="b-detailed__preview thumbnail"><img src="/images/previews/small/4341476800_2_6_1.jpg" alt="" class=""/></a>
            <a href="" class="b-detailed__preview thumbnail"><img src="/images/previews/small/4341476800_6_1_1.jpg" alt="" class=""/></a>
        </div>
        <div class="b-detailed__map-container">
            <div class="b-detailed__map-pills-container">
                <nav>
                    <ul class="pagination pagination-sm b-detailed__map-pill">
                        <li class="active"><a href="#" aria-label="Previous">Схема ТЦ</a></li>
                        <li><a href="#">Карта</a></li>
                    </ul>
                </nav>
            </div>
            <div class="b-detailed__map">
                <!--<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1120.6384190885406!2d37.49729852161704!3d55.82315404349757!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sru!4v1428314173102" width="400" height="335" frameborder="0" style="border:0"></iframe>-->
            </div>
        </div>
        <div class="b-detailed__malls-container">
            <a class="b-detailed__mall thumbnail" href><img src="images/malls/metropolis-logo.jpg" alt=""/></a>
            <a class="b-detailed__mall thumbnail" href><img src="images/malls/afimol.png" alt=""/></a>
            <a class="b-detailed__mall thumbnail" href><img src="images/malls/Vegas_logo.jpg" alt=""/></a>
        </div>
    </div>
</div>